@use '@angular/material' as mat;

$padding-small: 16px;
$font-size-small: 12px;

// Mixin for responsive design
@mixin respond-to($media) {
  @if $media == 'small' {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.signup__main-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-basis: 50%;
  @include respond-to('small') {
    flex-basis: 100%;
  }
}

.signup__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.signup-card {
  @include mat.elevation(4);
  mat-card-content {
    padding: $padding-small;
  }
}

.signup-card__form-container{
  display: flex;
  flex-direction: column;
}

.signup-card__footer {
  padding-top: 2px;
  padding-left: $padding-small;
}

.signup-card__footer-link {
  text-decoration: none;
}
