@use '@angular/material' as mat;

$padding-small: 16px;
$font-size-small: 12px;

// Mixin for responsive design
@mixin respond-to($media) {
  @if $media == 'small' {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: auto;
}

.login__main-container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-basis: 30%;
  @include respond-to('small') {
    flex-basis: 100%;
  }
}

.login__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.login-card {
  @include mat.elevation(4);
  mat-card-content {
    padding: $padding-small;
  }
}

.login-card__form-container {
  display: flex;
  flex-direction: column;
}

.login-card__error-alert {
  font-size: $font-size-small;
  padding-bottom: 5px;
}

.login-card__footer {
  padding-top: 2px;
  padding-left: $padding-small;
}

.login-card__footer-link {
  text-decoration: none;
}
