@use '@angular/material' as mat;

@mixin color($theme) {
  $victory-color: mat.get-theme-color($theme, accent, 500);
  $defeat-color: mat.get-theme-color($theme, warn, 500);
  
  .game-result__title.victory {
    color: $victory-color;
  }

  .game-result__title.defeat {
    color: $defeat-color;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
